[submodule "Plugins/VaRest"]
	path = Plugins/VaRest
	url = https://github.com/ufna/VaRest.git
	branch = 5.0
[submodule "Plugins/BCClient"]
	path = Plugins/BCClient
	url = https://github.com/getbraincloud/braincloud-unreal-plugin-src.git
	branch = BCLOUD-3669
	